{% extends "layout.html" %}
{% set auto_refresh = 2000 %}

{% block footer %}
<script type="module" src="/network.js?{{ hash }}"></script>
{% endblock %}

{% block content %}
<h1>{{ title }} - network</h1>

{% if error %}
<div class="row error">{{ error }}</div>
{% endif %}

{% for host in hosts %}
<h4 class="row" id="host-{{ host.id }}"><a href="#host-{{ host.id }}">💻 {{ host.names | join(", ") }}</a></h4>

{% if host.just_woke %}
<div class="row just-woke autohide">Magic Packet Sent</div>
{% endif %}

<form class="row" action="{{prefix}}/wake" method="post">
<button class="primary" type="submit" name="host" value="{{ host.id }}" title="Wake using magic packet">Wake</button>
</form>

{%- for mac in host.mac %}
<div class="row records">
    <div class="record" title="MAC address of host">
        <b>MAC:</b>
        <span class="value copyable mono">{{ mac }}</span><span class="copy">📋</span>
    </div>
</div>
{%- endfor %}

{% for r in host.pending.results %}
    <div class="row records">
        <div class="record {{ r.class }}" title="ICMP Type">
            <b>{{ r.kind }}:</b>
            <span class="value">{{ r.outcome }}</span>
        </div>

        {% if r.code %}
        <div class="record code" title="ICMP Code">
            <b>Code:</b>
            <span class="value">{{ r.code }}</span>
        </div>
        {% endif %}

        <div class="record" title="ICMP Target">
            <b>Target:</b>
            <span class="value copyable mono">{{ r.target }}</span><span class="copy">📋</span>
        </div>

        {% if r.source != r.target %}
        <div class="record" title="ICMP Packet source IP address">
            <b>SRC:</b>
            <span class="value copyable mono">{{ r.source }}</span><span class="copy">📋</span>
        </div>
        {% endif %}

        {% if r.dest != r.target %}
        <div class="record" title="ICMP Packet destination IP address">
            <b>DST:</b>
            <span class="value copyable mono">{{ r.dest }}</span><span class="copy">📋</span>
        </div>
        {% endif %}

        <div class="record" title="Round Trip Time">
            <b>Timing:</b>
            <span class="value">{{ r.rtt }} roundtrip {{ r.age }} ago</span>
        </div>

        {% if r.checksum != 0 %}
        {% if r.checksum != r.expected_checksum %}
        <div class="record error" title="Checksum mismatch">
            <b>Checksum:</b>
            <span class="value">
                <span class="copyable mono">{{ r.checksum | hex }}</span><span class="copy">📋</span> (packet) != <span class="copyable mono">{{ r.expected_checksum | hex }}</span><span class="copy">📋</span> (expected) (MISMATCH)
            </span>
        </div>
        {% else %}
        <div class="record success" title="Checksum valid">
            <b>Checksum:</b>
            <span class="value">
                <span class="copyable mono">{{ r.checksum | hex }}</span><span class="copy">📋</span> (OK)
            </span>
        </div>
        {% endif %}
        {% endif %}
    </div>
{% endfor %}

{% for e in host.pending.errors %}
    <div class="row records">
        <div class="record error" title="Ping Error">
            <b>Error:</b>
            <span class="value">{{ e.error }}</span>
        </div>

        {% if e.ping %}
            <div class="record" title="Ping Target">
                <b>Target:</b>
                <span class="copyable mono">{{ e.ping }}</span><span class="copy">📋</span>
            </div>
        {% endif %}

        <div class="record" title="Time since ping was attempted">
            <b>Age:</b>
            <span>{{ e.age }}</span>
        </div>
    </div>
{% endfor %}

{% endfor %}
{% endblock %}
